@media (max-width: 740px) {
    body::before {
        display: none;
    }
    nav,  .form-warapper {
        padding: 20px;
    }
    nav a img {
        width: 140px;
    }
    .form-warapper {
        top: 43%;
        width: 100%;
    }
    .form-warapper form {
        margin: 25px 0 40px;
    }
}